@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Manrope";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.mybtn {
  background-color: #000088;
  padding: 10px 20px;
  color: white;
}
.mybtn:hover {
  background-color: transparent;
  color: #000088;
  border: 1px solid #000088;
  color: #000088;
  cursor: pointer;
  transition: 0.5s all ease;
}

.socialHover {
  padding: 10px;
  color: white;
  border: 1px solid #000088;
  color: #000088;
}
.socialHover:hover {
  background-color: #000088;
  color: white;
  transition: 0.5s all ease;
}
